<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/contact.css" />
    <title>contact</title>
  </head>
  <body>
    <div class="container">
      <h2>Contact Us</h2>
      <hr />
      <form
        action="https://gmail.us20.list-manage.com/subscribe/post?u=fc57d1e00241c0ce659e935a8&amp;id=76fecc8708"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <label for="fname">First Name</label>
        <input
          type="text"
          id="fname"
          name="FIRSTNAME"
          placeholder="Your name.."
          required
        />

        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          name="LASTNAME"
          placeholder="Your last name.."
          required
        />

        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="EMAIL"
          placeholder="Your email address"
          required
        />

        <label for="subject">Subject</label>
        <textarea
          id="subject"
          name="MESSAGE"
          placeholder="Write something.."
          style="height: 200px"
          required
        ></textarea>

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
