<head>

  <meta charset="utf-8">
  {% if title %}
  <title>
    {{ title }}
  </title>
  {% else %}
  <title>
    Sign in
  </title>
  {% endif %}

</head>
<body>

  <div class="container w-50">

    <form method="post" action="">

      {{form.hidden_tag()}}

      <fieldset>

        <legend class="border-bottom mb-4">
          REGISTER
        </legend>

        <div class="form-group">
          {{ form.username.label(class='form-control-label') }}
          {{ form.username(class='form-control-lg') }}
        </div>

      </fieldset>


      <div class="field-group">

        {{ form.submit(class='btn btn-primary') }}

      </div>





    </form>

  </div>


</body>